.Container {
  background: linear-gradient(
    180deg,
    rgb(94, 68, 255, 0.33) 0%,
    rgb(0, 0, 0) 71.6%
  );
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 4%;
}
.Top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 6%;
}
.favSong {
  width: 244px;
  height: 225px;
}

.Image {
  display: flex;
  flex-direction: row;
}
.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  margin-left: 100px;
}

.Description h1 {
  font-size: 71px;
  margin-top: 22px;
}

.Description p {
  font-size: 17px;
  margin-bottom: 15px;
}
