.containnerS {
  display: flex;
  align-items: center;
}
.capaS {
  width: 224px;
  height: 224px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

  cursor: pointer;
}
.DescriptionS {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 4%;
  margin-top: 2%;

  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.DescriptionS h1 {
  font-size: 3rem;
}

.DescriptionS span {
  display: flex;
  flex-direction: row;
}

.DescriptionS #hiddenS {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 526px) {
  .capaS {
    width: 184px;
    height: 184px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    cursor: pointer;
    align-self: flex-start;
  }

  .containnerS {
    flex-direction: column;
  }

  .DescriptionS {
    margin-left: 0;
  }

  .DescriptionS span {
    display: block;
  }
  .DescriptionS #hiddenS {
    margin-left: 0px;
    color: rgba(255, 255, 255, 0.4);
  }
  .DescriptionS h1 {
    font-size: 2.5rem;
  }
}
