.navbar {
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar header {
  display: flex;
  align-items: flex-start;
}

.ispotify {
  width: 70px;
  height: 70px;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logoName {
  font-size: 1.125rem;
  align-self: center;
}

.navbar footer {
  height: 76%;
  display: flex;
  flex-direction: column-reverse;
}

.navbar footer p {
  text-align: center;
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
  }

  .navbar header,
  .navbar img {
    display: none;
  }

  .nav-btns {
    display: flex;
    flex-direction: row;

    margin-top: 15px;
  }
}
