.navbar {
    padding: 12px;
    text-align: center;
  }
  
  .navbar header {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .ispotify {
    width: 70px;
    height: 70px;
  }
  
  .logoName {
    font-size: 1.125rem;
    align-self: center;
    }

    .containner{
      display: flex;
      flex-direction: column;
      cursor: pointer;
      
    }
    .containner p{
      text-align: center;
      padding-top: 1rem;
    }

    footer{
      height: 76%;
      display: flex;
      flex-direction: column-reverse;

      cursor: pointer;
    }

    footer p{
      text-align: center;
    }

    div .containner p:hover, footer p:hover{
      color: rgba(255, 255, 255, 0.545);
    }




@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start;
  }
  .music{
    margin-left: 12px;
    
  }
  footer{
    margin-left: 12px;
  }
  .containner{
    display: flex;
    flex-direction: row;
   
    margin-top: 15px;
    
  }
  .artist {
    margin-left: 12px;
  }
  
}