.App {
  display: grid;
  height: 100vh;
  grid-template-areas: "nav main";
  grid-template-columns: 180px 1fr;
}

.App .dashboard {
  grid-area: main;
}

.App .navbar {
  grid-area: nav;
}

@media (max-width: 768px) {
  .App {
    grid-template-areas: "nav" "main";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr;
  }
}