.container-artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 16px;
  gap: 12px;
}

.container-artist-list img {
  border-radius: 50%;
}

.Artist {
  background-color: var(--grayCubes);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

  width: 196px;
  padding: 16px 18px 30px;

  border-radius: 10px;

  cursor: pointer;
}

.Artist:hover {
  background-color: rgba(255, 255, 255, 0.064);
}

.Artist p {
  font-size: 16px;
  color: white;
  opacity: 50%;
}
