.dashboard {
  overflow-y: auto;
  background: var(--background-gradient-blue);
  padding: 96px 24px 24px;
}

.album-icons {
  margin: 72px 0;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 24px;
  }

  .album-icons {
    margin: 24px 0;
  }
}
